<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/nav.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">

<title>Реєстрація</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <main>

<div class="content">
            <form class="register-form" method="post" th:action="@{/process_register}" th:object="${user}">
                
                <p style="margin-bottom: 20px">Створити акаунт</p>

                <label for="username">Ім'я користувача:</label>
                <input required id ="username" type="text" name="username" placeholder="user">
                <label for="password">Пароль:</label>
                <input required id="password "type="password" name="password" placeholder="***********">
                <button>Створити</button>
                <p class="error" th:text="${error}"></p>
            </form>


        </div>
        </main>
    </body>
</html>